a.navbar-brand {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}


.io {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8d81ac;
}

button.btn-outline-success {
  color: #fff;
  background-color: #8d81ac;
  border-color: #8d81ac;
  border-radius: 1.25rem;
}

ul.icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 140px;
}

nav {
  .fab {
    color: #fff;
  }
}

.logo {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px)  {
    .logo {
      margin-right: 320px;
      display: flex;
      align-items: center;
    }
  .navbar {
    padding-left: 135px;
  }
  }

@media only screen and (min-width: 1024px)  {
    .logo {
      margin-right: 320px;
    }
  .navbar {
    padding-left: 135px;
  }
  }


