.seven-block {
  h3 {
    color: #d3d1da;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.32px;
    padding-bottom: 20px;
  }
  h4 {
    color: #323232;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 0.32px;
 }
  p{
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
  }
}

.go{
  padding: 10px;
  background-color: #f4f4f4;
  color: #8d81ac;
  font-size: 14px;
  font-weight: 400;
}

h4.new {
  color: #8d81ac;
}